/* SPDX-License-Identifier: Apache-2.0
   Copyright 2026 Valesor Development */
@import "tailwindcss";

:root {
  --color-bg: #0a0a0a;
  --color-text: #ededed;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}
